---
layout: default
---

<div class="home">

  <h1 class="page-heading">RFCs</h1>

  <div class="alert-rc">
    <p>
      <strong>Atenção</strong>: ainda que as traduções estejam sendo feito com cuidado,
      as URLs, a aparêcia entre outro poderão mudar nos próximos meses. Acompanhe o
      a situação do desenvolvimento no <a href="https://github.com/webiwg/rfc-pt">repositório
      do projeto</a>.
    </p>
  </div>


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{% include date-portugues.html date=post.date  %}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
